<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="">IrcLogViewer</a>
			<!--
			<div class="btn-group pull-right">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					<i class="icon-user"></i> Username
					<span class="caret"></span>
				</a>
			</div>
			-->
			<div class="nav-collapse">
				<ul class="nav">
					<% for(var i=0; i<bar_channels.length; i++) {%>
						<% var c=bar_channels[i]; %>
						<li <%= (c==channel)?'class=active':"" %>><a href="<%="../"+c%>"><%= c %></a></li>
					<% } %>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3"> 

			<div class="well sidebar-nav">
				<ul class="nav nav-list" id="sidebar-accordion">
					<% for(var year in dates){ %>
						<% for(var month in dates[year]){ %>
							<% var year_str = year.substr(1); %>
							<% var month_str = month.substr(1); %>
							<div class="accordion-group">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#sidebar-accordion" href=<%= "#collapse" + month %>>
										<li class="nav-header"><%= "20" + year_str + "年" + month_str + "月" %></li>
									</a>
								</div>
								<div id=<%= "collapse"+month %> class="accordion-body collapse <%= (year_str+month_str==current_date.substr(0,4))?"in":"" %>">
									<div class="accordion-inner">
										<ul class="nav nav-list">
											<% for(var d=0; d<dates[year][month].length; ++d){ %>
												<% var day = dates[year][month][d]; %>
												<% var day_str = day.substr(1); %>
												<% var all_str = year_str + month_str + day_str; %>
												<li <%= (all_str==current_date)?"class=active":"" %>>
												<a href="<%= all_str%>"><%= day_str + "日" %></a>
												</li>
											<% } %>
										</ul>
									</div>
								</div>
							</div>
						<% } %>
					<% } %>
				</ul>
			</div><!--/.well -->
		</div><!--/span-->
		<div class="span9">
			<div class="hero-unit">
				<% for(var i=0; i<msgs.length; i++) {%>
					<%= msgs[i] %><br>
				<% } %>
			</div>
		</div><!--/span-->
	</div><!--/row-->

	<hr>

	<!--
	<footer>
	<p>© Company 2012</p>
	</footer>
	-->

</div>

